<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @inventory.product_id %>
</p>

<p>
  <b>Product name:</b>
  <%= @inventory.product_name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @inventory.quantity %>
</p>


<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
