<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @order.date %>
</p>

<p>
  <b>Total:</b>
  <%= @order.total %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
