<!DOCTYPE html>
<html>
<head>
  <title>Project5</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>My  App</h1>
<%= link_to "Order line",order_lines_path %>
<%= link_to "Product",products_path%>
<%= link_to "Order",orders_path %>
<%= link_to "Inventory",inventories_path %>
<%=link_to "Search", :controller => 'searches', :action => 'new' %>



<%= yield %>

</body>
</html>
